.dropdown-menu {
  background-color: rgb(93, 172, 189);
  padding: 5px 0px;
  border-radius: 6px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: center;
  min-width: 117px;
  margin: 5px auto;
  z-index: 1;
}

.dropdown-menu li {
  background: rgb(93, 172, 189);
  cursor: pointer;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  background-color: rgb(93, 172, 189);
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  height: 100%;
  text-decoration: none;
  outline: none;
  padding: 8px;
  width: 100%;
}

.dropdown-link:hover {
  background: #fff;
  color: rgb(93, 172, 189);
}

.dropdown-link.active {
  color: rgb(35, 49, 66);
}
